<section class="content-wrapper">
  <div class="cms-clear">.</div>
  <aside class="cms-navigation">
  <div class="nav-title">VCR CMS</div>
    <nav class="cms-nav">
      <li><%= link_to 'Nieuwsberichten', articles_path %></li>
      <li><%= link_to 'VCR 1 Wedstrijden', games_path %></li>
      <li><%= link_to 'VCR Teams', vcr_teams_path %></li>
      <li><%= link_to 'Leden', members_path %></li>
      <li><%= link_to 'Sponsoren', sponsors_path %></li>
    </nav>
  </aside>
  <div class="article-wrapper">
    <h1 class="box-title">VCR 1 Tegenstanders</h1>
    <button><%= link_to 'New team', new_team_path %></button>
    <% @teams.each do |team| %>
      <article class="homepage-article">
        <div class="article-row">
          <div class="article-image" style="background-image: url(<%= team.logo %>); background-size: contain; background-position: center; background-repeat: no-repeat;">
          </div>
          <div class="article-title">
            <h2><%= team.id %> - <%= team.title %></h2>
          </div>
        </div>
        <button><%= link_to 'Edit', edit_team_path(team) %></button>
        <button><%= link_to 'Destroy', team_path(team),
                             method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </article>
    <% end %>
  </div>
  <br class="clear" />
</section>