<section class="content-wrapper">
    <div class="article-wrapper">
      <%= form_for Team.new do |f| %>

      <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@team.errors.count, "error") %> prohibited
            this team from being saved:
          </h2>
          <ul>
            <% @team.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>
       
        <p>
          <%= f.label :logo %><br>
          <%= f.file_field :logo %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>
  <br class="clear" />
</section>