<section class="content-wrapper">
<div class="article-cover-image"><%= image_tag @article.image %></div>
	<div class="article-wrapper">
    	<h1 class="box-title"><%= @article.title %></h1>
    	<p class="article-date"><%= @article.created_at.strftime("%d %B %Y") %></p>
        <button><%= link_to 'Back', articles_path %></button>
        <button><%= link_to 'Edit', edit_article_path(@article) %></button>
        <button><%= link_to 'Destroy', article_path(@article),
                             method: :delete, data: { confirm: 'Are you sure?' } %></button><br>
        <div class="article-text">
        	<%= simple_format @article.text %>
        </div>
    </div>
  <aside class="program-sidebar">
    <h1 class="box-title">Programma VCR1</h1>
  </aside>
  <aside class="spotlight-sidebar">
    <h1 class="box-title">Uitgelicht</h1>
  </aside>
</section>