<%= form_for @sponsor do |f| %>
  <% if @sponsor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited
      thisponsor from being saved:</h2>
    <ul>
    <% @sponsor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>