<section class="content-wrapper">
  <div class="cms-clear">.</div>
  <aside class="cms-navigation">
  <div class="nav-title">VCR CMS</div>
    <nav class="cms-nav">
      <li><%= link_to 'Nieuwsberichten', articles_path %></li>
      <li><%= link_to 'VCR 1 Wedstrijden', games_path %></li>
      <li><%= link_to 'VCR Teams', vcr_teams_path %></li>
      <li><%= link_to 'Leden', members_path %></li>
      <li><%= link_to 'Sponsoren', sponsors_path %></li>
    </nav>
  </aside>
  <div class="article-wrapper">
    <h1 class="box-title">Wedstrijden VCR 1</h1>
    <button class="button-green"><%= link_to 'Nieuwe wedstrijd', new_game_path %></button>
    <button class="button-blue"><%= link_to 'Tegenstanders beheren', teams_path %></button>

  <table id="games_table">
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.date.strftime("%-d %B %Y, %H:%M")%></td>
        <td><%= Team.find(game.home_team).title %></td>
        <td><%= game.home_score %> - </td>
        <td><%= game.away_score %></td>
        <td><%= Team.find(game.away_team).title %></td>
        <td><button class="button-blue"><%= link_to edit_game_path(game) do %>
          <i class="fa fa-edit"></i>
        <% end %>
        </button></td>
        <td><button class="button-red"><%= link_to game_path(game),
                           method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
        </button></td>
      </tr>
    <% end %>
  </table>

  </div>
</section>