<section class="content-wrapper">
  <div class="article-wrapper">.</div>
  <div class="article-wrapper">
    <h1 class="box-title">Wedstrijden VCR 1</h1>
    <button><%= link_to 'Nieuwe wedstrijd', new_game_path %></button>

    <% @games.each do |game| %>
      <article class="homepage-article">
        <div class="article-row">
          <div class="article-title">
            <h2><%= Team.find(game.home_team).title %></h2>
          </div>
          <div class="article-title"><h2>-</h2></div>
          <div class="article-title">
            <h2><%= Team.find(game.away_team).title %></h2>
          </div>
          <div class="article-title"><%= game.date %></div>
        </div>

        <button><%= link_to 'Show', game_path(game) %></button>
        <button><%= link_to 'Edit', edit_game_path(game) %></button>
        <button><%= link_to 'Destroy', game_path(game),
                             method: :delete, data: { confirm: 'Are you sure?' } %></button>

      </article>
    <% end %>

  </div>
</section>