<%= form_for @vcr_team do |f| %>
  <% if @vcr_team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vcr_team.errors.count, "error") %> prohibited
      this team from being saved:</h2>
    <ul>
    <% @vcr_team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :age_group %><br>
    <%= f.select :age_group, [['Senioren'], ['Junioren'], ['Pupillen']] %>
  </p>

  <p>
    <%= f.label :cover_image %><br>
    <%= f.file_field :cover_image %>
  </p>

  <p>
    <%= f.label :team_image %><br>
    <%= f.file_field :team_image %>
  </p>

  <p>
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<script>
  $(function() {
    $('textarea').editable({inlineMode: false})
  });
</script>