<section class="content-wrapper">
  <div class="article-wrapper">.</div>
  <div class="article-wrapper">
    <h1 class="box-title">VCR Teams</h1>
    <button class="button-green"><%= link_to 'Nieuw team toevoegen', new_vcr_team_path %></button>

  <table id="games_table">
    <% @vcr_teams.each do |vcr_team| %>
      <tr>
        <td><button class="button-blue"><%= link_to edit_vcr_team_path(vcr_team) do %>
          <i class="fa fa-edit"></i>
        <% end %>
        </button></td>
        <td><button class="button-red"><%= link_to vcr_team_path(vcr_team),
                           method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
        </button></td>
        <td><strong><%= vcr_team.title %></strong></td>
        <td><%= vcr_team.age_group %></td>
      </tr>
    <% end %>
  </table>

  </div>
</section>