<div class="article-cover-image">
  <%= image_tag @vcr_team.cover_image %>
</div>
<div class="cover-image-clear">
  <div class="show-container">
    <div class="article-show-title">
      <h2><%= @vcr_team.title %></h2>
      <button class="button-blue"><%= link_to 'Team bewerken', edit_vcr_team_path(@vcr_team) %></button>
    </div>
  </div>  
</div>

<section class="content-wrapper">
    <div class="tabs">
        <ul class="tab-links">
            <li class="active-tab"><a href="#tab1" class="nav-tab">Selectie</a></li>
            <li><a href="#tab2" class="nav-tab">Wedstrijdschema</a></li>
            <li><a href="#tab3" class="nav-tab">Informatie</a></li>
        </ul>

      <div class="tab-content">
        <div class="article-content">
          <div id="tab1" class="tab active-tab">
            <%= render 'selection' %>
          </div>
          <div id="tab2" class="tab">
            <%= render 'schedule' %>
          </div>
          <div id="tab3" class="tab">
            <%= render 'information' %>
          </div>
        </div>
      </div>
    </div>


  <aside class="spotlight-sidebar">
    <h1 class="box-title">Uitgelicht</h1>
  </aside>
</section>
<script>
  jQuery(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
 
        jQuery(this).parent('li').addClass('active-tab').siblings().removeClass('active-tab');
 
        e.preventDefault();
    });
})
</script>