<%= form_for @content_page do |f| %>
  <% if @content_page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@content_page.errors.count, "error") %> prohibited
      this content page from being saved:</h2>
    <ul>
    <% @content_page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <p>
    <%= f.label :club_type %><br>
    <%= f.select :club_type, [['VCR'], ['Besturen'], ['Commissies']] %>
  </p>

  <p>
    <%= f.label :cover_image %><br>
    <%= f.file_field :cover_image %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<script>
  $(function() {
    $('textarea').editable({inlineMode: false})
  });
</script>