<!DOCTYPE html>
<html>
<head>
  <title>VCR - Voetbalclub Rinsumageest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="content-wrapper">
    <%= link_to image_tag("vcr-logo.png", :alt => "vcr logo", :class => "vcr-logo"), root_path %>
    <nav>
      <a href="#"><li class="active-menu">Home</li></a>
      <a href="#" id="de-club"><li>De Club<i class="fa fa-angle-down fa-fw"></i></li></a>
      <a href="#"><li>Teams<i class="fa fa-angle-down fa-fw"></i></li></a>
      <a href="#"><li>Nieuwsarchief</li></a>
    </nav>
  </div>
  <div class="club-dropdown-wrapper">
      <div class="club-dropdown">
        <ul class="dropdown-list">
          Senioren
          <li>VCR 1</li>
          <li>VCR 2</li>
          <li>VCR 3</li>
          <li>VCR Dames 1</li>
        </ul>
        <ul class="dropdown-list">
          Junioren
          <li>VCR B1</li>
          <li>VCR C1</li>
          <li>VCR MC1</li>
        </ul>
        <ul class="dropdown-list">
          Pupillen
          <li>VCR D1</li>
          <li>VCR E1</li>
          <li>VCR F1</li>
          <li>VCR F2</li>
          <li>VCR F3</li>
        </ul>
      </div>
    </div>
</header>

<%= yield %>

<br class="clear" />
<div class="grey-logo-wrapper">
  <%= image_tag("vcr-logo_grey.png", :alt => "vcr logo", :class => "vcr-logo-grey") %>
</div>
</body>
</html>
