<!DOCTYPE html>
<html>
<head>
  <title>VCR - Voetbalclub Rinsumageest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'vcr_favicon.png' %>
</head>
<body>

<% @senioren = VcrTeam.where("age_group = 'Senioren'").order('title ASC') %>
<% @junioren = VcrTeam.where("age_group = 'Junioren'").order('title ASC') %>
<% @pupillen = VcrTeam.where("age_group = 'Pupillen'").order('title ASC') %>

<header>
  <div class="content-wrapper">
    <%= link_to image_tag("vcr-logo.png", :alt => "vcr logo", :class => "vcr-logo"), root_path %>
    <nav>
      <li class="<%= 'active-menu' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li id="de-club"><a href="#">De Club<i class="fa fa-angle-down fa-fw"></i></a>
        <div class="club-dropdown-wrapper">
            <div class="club-dropdown">
              <ul class="dropdown-list">
                Senioren
                <% @senioren.each do |vcr_team| %>
                  <li><%= link_to vcr_team.title, vcr_team_path(vcr_team) %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </li>
      <li id="teams" class="<%= 'active-menu' if current_page?(vcr_teams_path) %>"><a href="<% vcr_teams_path %>">Teams<i class="fa fa-angle-down fa-fw"></i></a>
        <div class="teams-dropdown-wrapper">
            <div class="teams-dropdown">
              <ul class="dropdown-list">
                Senioren
                <% @senioren.each do |vcr_team| %>
                  <li><%= link_to vcr_team.title, vcr_team_path(vcr_team) %></li>
                <% end %>
              </ul>
              <ul class="dropdown-list">
                Junioren
                <% @junioren.each do |vcr_team| %>
                  <li><%= link_to vcr_team.title, vcr_team_path(vcr_team) %></li>
                <% end %>
              </ul>
              <ul class="dropdown-list">
                Pupillen
                <% @pupillen.each do |vcr_team| %>
                  <li><%= link_to vcr_team.title, vcr_team_path(vcr_team) %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </li>
      <li class="<%= 'active-menu' if current_page?(articles_path) %>"><%= link_to "Nieuwsarchief", articles_path %></li>
    </nav>
  </div>
</header>

<%= yield %>

<br class="clear" />
<div class="grey-logo-wrapper">
  <%= image_tag("vcr-logo_grey.png", :alt => "vcr logo", :class => "vcr-logo-grey") %>
</div>
</body>
</html>
